@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

body{
  height: 100vh;
  width: 100%;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

.container {
  background: #b0e0e6;
  width: 410px;
  height: 400px;
  padding: 100px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

div{
  padding-top: 250px;
  box-sizing: border-box;
  border-radius: 30px; 
  
}